/*
  tag based style
*/
button {
  padding: 14px 28px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

/*
  class based style
*/
.App {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.instructions {
  font-size: 12px;
}

div.instructions p {
  margin: 0px;
}

.input-box {
  width: 150px;
}

.input-error {
  color: red;
  margin: 2px;
  font-size: 10px;
}

.start-stop-button {
  padding: 4px 16px;
}

.start-stop-button:hover {
  box-shadow: 1px 1px 2px 2px #bfbfbf66;
}

.start-stop-button:active {
  background-color: #f6f6f6;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 0px 30%;
  flex-wrap: wrap;
}

.game-button[type="ENABLED_UNCLICKED"] {
  background-color: red;
}

.game-button[type="DISABLED_CLICKED"] {
  background-color: blue;
}

.popup-backdrop {
  position: fixed;
  top: 0px;
  background-color: #6b69696e;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper {
  width: 250px;
  background-color: #404040;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 0px 0px 12px 10px #a7a7a7db;
}
