/*
  tag based style
*/
button {
  padding: 14px 28px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

/*
  class based style
*/
.App {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-error {
  color: red;
  margin: 2px;
  font-size: 10px;
}

.start-stop-button {
  padding: 4px 16px;
}

.start-stop-button:hover {
  box-shadow: 1px 1px 2px 2px #bfbfbf66;
}

.start-stop-button:active {
  background-color: #f6f6f6;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 0px 30%;
  flex-wrap: wrap;
}

.game-button[type="ENABLED_UNCLICKED"] {
  background-color: red;
}
